.contenedorInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 15vh;
    background-color: grey;
    position: sticky;
    top: 0px;
    

}